<div id="content-wrapper">
  <h1>About us</h1>

  <div>
    <div class="banner-container">
      <h3>Faculty</h3>
      <h4>Department of Visualization</h4>
      <div class="profile-container col-lg-6">
        <div class="profile-container-img" style="background-image: url('<%= image_path('team/francis_quek.jpg') %>')"></div>
        <p>Dr. Francis Quek <quek@tamu.edu></p>
        </div>

      <div class="profile-container col-lg-6">
        <div class="profile-container-img" style="background-image: url('<%= image_path('team/sharon_lynn_chu.png') %>')"></div>
        <p>Dr. Sharon Lynn Chu <sharilyn@tamu.edu></p>
      </div>

      <h4>Department of Teaching, Learning and Culture</h4>
      <div class="profile-container col-lg-6">
        <div class="profile-container-img" style="background-image: url('<%= image_path('team/lynn_burlbaw.jpg') %>')"></div>
        <p>Dr. Lynn Burlbaw <burlbaw@tamu.edu></p>
      </div>

      <div class="profile-container col-lg-6">
        <div class="profile-container-img" style="background-image: url('<%= image_path('team/patricia_larke.jpeg') %>')"></div>
        <p>Dr. Patricia Larke <plarke@tamu.edu></p>
      </div>

      <h4>Department of Psychology</h4>
      <div class="profile-container col-lg-6">
        <div class="profile-container-img" style="background-image: url('<%= image_path('team/rebecca_schlegel.png') %>')"></div>
        <p>Dr. Rebecca Schlegel <beccaschlegel@tamu.edu></p>
      </div>
    </div>
  </div>

  <div class="banner-container">
    <h3>Former and Current Students</h3>
    <ul class="split-column-2">
      <li> Ana Morales </li>
      <li> Andrew Christy </li>
      <li> Alexander Berman </li>
      <li> Beth Nam </li>
      <li> Brittany Garcia </li>
      <li> Dherlene Gutierrez </li>
      <li> Eva P. Hengtaweesub </li>
      <li> Genna Angello </li>
      <li> Kate Sackreiter </li>
      <li> Madison Sexton </li>
      <li> Maricela Mirelez </li>
      <li> Mario Suarez </li>
      <li> Michael Saenz</li>
      <li> Nilay Patel </li>
      <li> Niloofar Zarei </li>
      <li> Noemie Nakamura </li>
      <li> Parris Reed </li>
      <li> Rowan Miller </li>
      <li> Shyam Prathish </li>
      <li> Soumitra Goswami </li>
      <li> Sourabh Bhangaonkar </li>
      <li> Stephen Martinez </li>
      <li> Stephen Spencer </li>
      <li> Taylor Quance </li>
      <li> Vanessa Ochoa </li>
      <li> Zaid Ibrahim </li>
    </ul>
  </div>
</div>
