<div id="main-wrapper">
	<!-- Carousel
    ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("slide_01.jpg", class: "slide-img", alt: "First slide") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Making as the new colored pencils</h1>
            <p>Making the Maker aims to understand how children develop identities and to encourage hands-on learning of STEM projects within the context of the classroom.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag("slide_02.jpg", class: "slide-img", alt: "Second slide") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>A resource hub for educators and researchers</h1>
            <p>Access projects and lesson plans according to specific grades, subjects and materials</p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag("slide_03.jpg", class: "slide-img", alt: "Third slide") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Become a part of Making the Maker</h1>
            <p>Learn how to integrate our projects in your school</p>
            <p>
              <a class="general-button" href="#" role="button">Join</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- /.carousel -->

  <!-- Three columns of text below the carousel -->
  <div class="banner-container">
    <div class="col-lg-4">
      <%= link_to main_projects_path do %>
        <div class="img-circle main-icon" style="background-position: 0px 0px;"></div>
      <% end %>
      <p>Find projects and class plans</p>
    </div>

    <div class="col-lg-4">
      <%= link_to main_find_us_path do %>
        <div class="img-circle main-icon" style="background-position: -140px 0px;"></div>
      <% end %>
      <p>See more about the Making the Maker</p>
    </div>

    <div class="col-lg-4">
      <%= link_to main_publications_path do %>
        <div class="img-circle main-icon" style="background-position: -280px 0px;"></div>
      <% end %>
      <p>Read about our research and findings</p>
    </div>
  </div>
</div>
