<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Making The Maker</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= link_to image_tag("maker_logo_original.png", alt: "Maker logo"), main_index_path, id: "logo", class: "navbar-brand" %>

		<nav id="header-nav">
			<ul id="nav-list">
			  <li class="nav-item">
					<%= link_to "Projects", main_projects_path %>
			  </li>
			  <li class="nav-item">
					<%= link_to "Publications", main_publications_path %>
			  </li>
			  <li class="nav-item">
					<%= link_to "About us", main_about_us_path %>
			  </li>
			  <li class="nav-item">
					<%= link_to "Find us", main_find_us_path %>
			  </li>
			  <li class="nav-item">
					<%= link_to "Publications", main_publications_path %>
			  </li>
			  <li class="nav-item">
					<%= link_to "About us", main_about_us_path %>
			  </li>
			  <li class="nav-item">
					<%= link_to "Contact us", main_contact_us_path %>
>>>>>>> 82b0ac3d51b2246b3e4099f68743b04db3485bae
			  </li>
			</ul>
		</nav>
	</header>

	<%= yield %>

	<footer>
		<div class="footer-link-container">
			<div class="footer-link">
				<%= link_to image_tag("tamu_logo.png", alt: "Texas A&M logo"), "http://www.tamu.edu", target: "_blank" %>
			</div>
			<div class="footer-link">
				<%= link_to image_tag("nsf_logo.png", alt: "NSF logo"), "http://www.nsf.gov", target: "_blank" %>
			</div>
		</div>
	</footer>

</body>
</html>
